<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="secureAppSettings" type="System.Configuration.AppSettingsSection" />
	</configSections>
	<appSettings>
		<add key="MassTransit.EndpointAddress" value="" />
		<add key="RabbitMqInstalled" value="true" />
	</appSettings>
	<secureAppSettings>
		<add key="SecureSectionTestSetting" value="For Verification" />
		<!-- These settings are modified in the tests-->
		<add key="MassTransit.BusUserName" value="" />
		<add key="MassTransit.BusPassword" value="" />
	</secureAppSettings>
</configuration>